[submodule "nvrhi"]
	path = nvrhi
	url = ../NVRHI.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/jsoncpp"]
	path = thirdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/lz4"]
	path = thirdparty/lz4
	url = https://github.com/lz4/lz4.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/cgltf"]
	path = thirdparty/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "thirdparty/miniz"]
	path = thirdparty/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "ShaderMake"]
	path = ShaderMake
	url = https://github.com/NVIDIA-RTX/ShaderMake.git
